In [ ]:
# https://www.analyticsvidhya.com/blog/2023/08/getting-started-with-llama-2/

In [9]:
import pandas as pd

employees = pd.DataFrame({
    'emp_id': [1, 1, 1, 2, 2],
    'event_day': ['2020-11-28', '2020-11-28', '2020-12-03', '2020-11-28', '2020-12-09'],
    'in_time': [4, 55, 1, 3, 47],
    'out_time': [32, 200, 42, 33, 74]
})

In [10]:
employees["total_time"] = employees["out_time"] - employees["in_time"]
employees = employees.groupby(["event_day", "emp_id"])["total_time"].sum().reset_index()
employees

    event_day  emp_id  total_time
0  2020-11-28       1         173
1  2020-11-28       2          30
2  2020-12-03       1          41
3  2020-12-09       2          27